/*CSS RESET*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 

body{ 
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;   
    text-align: center;
}
.container { 
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height: 500px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}   

img {
    border-radius: 15px;
    padding: 5px
}

h1 {
    font-style: bold;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    padding: 20px 30px 10px 30px;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    padding: 8px 30px 15px 30px;
    color: hsl(220, 15%, 55%);
    line-height: 20px;
}
